////////////////////////////////
//Search Bar
////////////////////////////////
.search {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: $bp-largest) {
    flex: 0 0 60%;
    
  }
  @media only screen and (max-width: $bp-medium) {
    flex: 0 0 100%;
    margin: 0 auto;
    background-color: $color-white;
    
  }

  &__input {
    font-family: inherit;
    font-size: 1.6rem;
    color: $color-grey-dark-1;
    background-color: $color-white;
    border: none;
    padding: 1rem 2rem;
    // border-radius: 100px;
    width: 100%;
    transition: all 0.2s;
    margin-right: -3.5rem;

    @media only screen and (max-width: $bp-medium) {
      font-size: 3rem;
      padding: 1.5rem 3rem;
      margin-right: 0;
      background-color: transparent;
    }

    &--compare {
      width: 100%;
      border-radius: 0;
      z-index: 20;
      margin-right: 0rem;

      &:focus {
        transform: scale(1) !important;
      }


    }

    &:focus {
      outline: none;
      transform: scale(1.02);

      @media only screen and (max-width: $bp-medium) {
        transform: scale(1) !important;
      }

    }

    &:-webkit-input-placeholder {
      font-weight: 100;
      color: $color-bg;
    }
  }

  &__input:focus + &__button {
    transform: scale(1.1);

    @media only screen and (max-width: $bp-medium) {
      transform: scale(1) !important;
    }
  }

  &__button {
    border: none;
    background-color: $color-white;
    z-index: 20;
    transition: all 0.2s;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(3px);
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 3rem;
      padding: 1.5rem 3rem;
      margin-right: 0;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-bg;

    @media only screen and (max-width: $bp-medium) {
      height: 3.5rem;
      width: 3.5rem;
    }
  }
}

.results-card {
  width: 100%;

  &__img-container {
    width: 100%;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      transform: scale(1.05) translateY(-1rem);
    }
  }

  &__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: $color-white;
  }
}

/////////////////////////////////////////
// GRID SLIDER
/////////////////////////////////////////

.grid-slider {
  margin: auto 0 auto auto;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    fill: $color-white;
    height: 3.3rem;
    width: 3.3rem;
    margin-right: 2rem;
    opacity: 60%;
  }
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(100, 100, 100, 0.46);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.9px 0.9px 1px rgba(0, 0, 49, 0), 0px 0px 0.9px rgba(0, 0, 75, 0);
  border: 1.8px solid rgba(0, 0, 30, 0);
  height: 21px;
  width: 8px;
  border-radius: 3px;
  background: #00c1eb;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(113, 113, 113, 0.46);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: rgba(100, 100, 100, 0.46);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.9px 0.9px 1px rgba(0, 0, 49, 0), 0px 0px 0.9px rgba(0, 0, 75, 0);
  border: 1.8px solid rgba(0, 0, 30, 0);
  height: 21px;
  width: 8px;
  border-radius: 3px;
  background: #00c1eb;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(87, 87, 87, 0.46);
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: rgba(100, 100, 100, 0.46);
  border: 0.2px solid rgba(1, 1, 1, 0);
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0.9px 0.9px 1px rgba(0, 0, 49, 0), 0px 0px 0.9px rgba(0, 0, 75, 0);
  border: 1.8px solid rgba(0, 0, 30, 0);
  height: 21px;
  width: 8px;
  border-radius: 3px;
  background: #00c1eb;
  cursor: pointer;
  height: 5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(100, 100, 100, 0.46);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(113, 113, 113, 0.46);
}



//////////////////////////////////////////
// SIDE BAR
/////////////////////////////////////////

.side-bar {
  @media only screen and (max-width: $bp-small) {
    &__icon-container {
      opacity: 0;
      visibility: hidden;
    }

    &--nav-open {
      height: 100vh;
      & .side-bar__icon-container {
        opacity: 100%;
        visibility: visible;
      }
    }
  }
  &__logo {
    cursor: pointer;
    margin: 2rem 2px 2rem 0;
    text-align: center;
    font-size: 2.2rem;
    line-height: 1;
    font-family: "Montserrat", sans-serif;
    transition: opacity 0.1s;

    &--bold {
      font-weight: 900;
      font-size: 2.3rem;
    }

    @media only screen and (max-width: $bp-medium) {
      margin: auto 0 auto 0;
      font-size: 3.5rem;

      &--bold {
        font-size: 3.5rem;
      }
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 5rem;

      &--bold {
        font-size: 5rem;
      }
    }
  }

  &__icons-container {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: row;
      align-items: center;
      margin-top: 0;
      width: 100%;
      justify-content: space-evenly;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      margin-right: 13rem;
    }
  }

  &__icon-container {
    display: flex;
    flex-direction: column;
    transition: opacity 0.2s ease-out;

    &:nth-child(2) > .side-bar__icon {
      transform: scale(0.85);
    }

    &:nth-child(4) > .side-bar__icon {
      transform: scale(0.75);
    }

    & > .side-bar__icon {
      opacity: 60%;
    }
    & > .side-bar__hr {
      width: 0rem;
      visibility: hidden;
    }

    &:nth-child(3) > .side-bar__icon {
      transform: rotate(90deg);
    }

    &:not(:last-child) {
      margin-bottom: 6rem;

      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 0;
      }
    }

    &--selected {
      & > .side-bar__icon {
        opacity: 100%;
      }
      & > .side-bar__hr {
        width: 2rem;
        visibility: visible;

        @media only screen and (max-width: $bp-medium) {
          width: 3rem;
        }
        @media only screen and (max-width: $bp-small) {
          width: 5rem;
        }
      }
    }
  }

  &__icon {
    cursor: pointer;
    height: 3.2rem;
    width: 3.2rem;
    fill: $color-white;

    @media only screen and (max-width: $bp-medium) {
      height: 4.2rem;
      width: 4.2rem;
    }

    @media only screen and (max-width: $bp-small) {
      height: 7rem;
      width: 7rem;
    }

    transition: all 0.2s ease-in;
    // transition: transform .2s ease-in;

    &:hover {
      // transform: scale(1.1);
      opacity: 100%;

      & + .side-bar__hr {
        width: 2rem;
        visibility: visible;
      }
    }
  }

  &__hr {
    width: 0rem;
    margin: 0.5rem auto 0rem;
    text-align: center;
    border: 1px solid $color-primary;
    transition: all 0.6s;
    visibility: hidden;

    &--hidden {
      width: 0;
    }
  }

  &__button {
    text-align: center;
    display: none;
    @media only screen and (max-width: $bp-small) {
      display: block;
    }
  }

  &__button--cross &__toggle-icon {
    background-color: transparent;
    transform: translateX(5px);
  }

  &__button--cross &__toggle-icon::before {
    transform: rotate(45deg) translateY(10px);
  }

  &__button--cross &__toggle-icon::after {
    transform: rotate(-45deg) translateY(-10px);
  }

  &__toggle-icon {
    margin-top: 9.5rem;
    position: relative;
    transition: all 0.2s;
    &,
    &::before,
    &::after {
      width: 5.5rem;
      height: 2px;
      background-color: $color-white;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -1.5rem;
    }
    &::after {
      top: 1.5rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }
  &__button:hover &__icon::after {
    top: 1rem;
  }
}

.user-menu {
  width: 100%;
  display: none;
  bottom: 0;
  height: 0;
  font-size: 2.4rem;

  &--visible {
    display: block;
    height: min-content;
  }
}

#account-btn {
  display: none;

  @media only screen and (max-width: $bp-small) {
    display: block;
  }
}

.dropdown {
  margin-left: auto;
  font-size: 1.6rem;
  position: relative;
  width: 22.4rem;
  z-index: 1000;

  @media only screen and (max-width: $bp-medium) {
    width: 28rem;
    margin-top: -2rem;
    font-size: 3rem;
    
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-bg;
    border: $border-line;
    padding: 0.5rem 2rem 0.5rem 6rem;
    border-radius: 100rem;
    cursor: pointer;
    z-index: 10;

    @media only screen and (max-width: $bp-medium) {
      padding: 1rem 2rem;
      
    }
  }

  &__text {
    font-size: 1.8rem;
    z-index: 10;

    &--blue {
      color: $color-primary;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 3rem;
      
    }
  }

  &__img {
    position: absolute;
    border: $border-line;
    left: 0px;
    height: 5rem;
    border-radius: 100rem;
    z-index: 10;
    @media only screen and (max-width: $bp-medium) {
      height: 6rem;
      left: -0.6rem;
    }
  }

  &__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: $color-white;
    margin-left: 1rem;
    z-index: 10;
    transition: transform 0.2s;

    &--rotated {
      transform: rotate(180deg);
    }
  }

  &__options {
    position: absolute;
    list-style-type: none;
    top: 0rem;
    left: 2.4rem;
    right: 0;
    margin-top: 2.4rem;
    padding: 2.3rem 1rem 1.5rem 3.8rem;
    border: $border-line;
    border-top: transparent;
    border-bottom-left-radius: 2.4rem;
    border-bottom-right-radius: 2.4rem;
    background-color: $color-bg;
    transition: height 0.2s ease;
    transform: translateY(1);
    height: 0;
    visibility: hidden;
    // display: none;

    @media only screen and (max-width: $bp-medium) {
      padding: 3.2rem 1rem 1.5rem 3.8rem;
    }

    &--show {
      // margin-top: 2.4rem;
      visibility: visible;
      transform: translateY(0);
      height: 19.5rem;

      @media only screen and (max-width: $bp-medium) {
        height: 25rem;
      }
    }
  }

  &__option {
    text-decoration: none;
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.2s;
    visibility: hidden;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    & a {
      cursor: pointer;
      text-decoration: none;
      color: $color-grey-light-1;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: lighter;
      transition: all 0.2s;

      &:hover {
        color: $color-primary;
        transform: scale(1.02);
      }
    }

    &--show {
      visibility: visible;
      opacity: 100%;
    }
  }
}

.base {
  height: 100%;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
  z-index: 2;

  &__container {
    height: 50vh;
    overflow: hidden;
    position: relative;

    &:hover .base__img {
      transform: scale(1.1);
      filter: blur(2px);
      filter: brightness(60%);
    }

    @media only screen and (max-width: $bp-largest) {
      height: 60vh;
    }

    @media only screen and (max-width: $bp-medium) {
      height: 40vh;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -50rem;
    transition: all 0.6s ease-out;

    @media only screen and (max-width: $bp-small) {
      top: -25rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    padding: 3rem 6rem 0 6rem;
    width: 45rem;
    height: 100%;
    z-index: 2;
    background-image: linear-gradient(
      to right,
      rgba(246, 246, 246, 0) 0%,
      rgba(0, 0, 0, 0.4) 20%
    );

    @media only screen and (max-width: $bp-largest) {
      padding: 3rem 4rem 0 4rem;
      width: 40rem;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 55rem;
    }

    @media only screen and (max-width: $bp-small) {
      justify-content: flex-end;
      width: 45rem;
      padding: 0 0 (2 * $content-padding) 0;
    }

    & .paragraph {
      @media only screen and (max-width: $bp-small) {
        display: none;
      }
    }
  }

  &__sub-details {
    display: flex;
    width: 70%;
    justify-content: space-between;
  }

  &__ctas {
    display: flex;
    margin-top: 0.5rem;
  }
}

.colour-btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 0.8rem 1.8rem;
    display: inline-block;
    border-radius: 10rem;
    animation: moveInBottom 2s ease-out;
    animation-delay: 0.3s;
    animation-fill-mode: backwards;
    transition: all 0.3s ease-in-out;
    position: relative;
    font-size: 1.6rem;
    color: $color-white;
    background-color: $color-primary;
    //Removing button styling
    font-weight: 300;
    outline: none;
    border: none;
    cursor: pointer;

    @media only screen and (max-width: $bp-small) {
      font-size: 2.4rem;
      margin-top: 1rem;
    }
  }

  &:hover,
  &:focus {
    transform: translateY(-0.3rem);

    outline: none;

    &::after {
      background-color: $color-white;
      transform: scale(1.5);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(-0.1rem);
  }
}

.film-card {
  position: relative;
  cursor: pointer;
  // display: inline-block;
  overflow: hidden;
  margin-bottom: 2.4rem;

  &:hover {
    & > .film-card__img {
      filter: blur(3px);
    }
  }
  &__img {
    width: 100%;
    transition: all 0.3s;

    &:hover {
      transform: scale(2);
    }
  }

  &__info-backdrop {
    position: absolute;
    top: 0;
    padding: 2rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.6s;

    overflow: hidden;
    & h3 {
      font-size: 2rem;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);

      & > .film-card__info {
        transform: translateY(0);
        opacity: 100%;
      }
    }
  }

  &__info {
    transform: translateY(130%);
    opacity: 0;
    transition: all 0.6s;
  }

  &__details {
    display: flex;
    // margin-bottom: .2rem;
    & p:last-child {
      margin-left: 2rem;
    }
  }
}

.hr {
  border: 1px solid $color-grey-dark-1;

  &--light {
    opacity: 20%;
  }

  // @media only screen and (max-width: $bp-medium) {
  //   margin-bottom: $content-padding;
  // }
}

.suggestions {
  padding: $content-padding;

  @media only screen and (max-width: $bp-medium) {
    padding: ($content-padding * 2) 0 ($content-padding * 2)
      ($content-padding * 2);
  }
  @media only screen and (max-width: $bp-small) {
    padding: ($content-padding * 1.5) 0 ($content-padding * 1.5)
      ($content-padding * 1.5);
  }
  &__headings {
    display: flex;
    justify-content: space-between;
    width: 18rem;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.6s ease-in;
    cursor: pointer;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }

    &--not-selected {
      opacity: 40%;

      &:hover {
        opacity: 100%;

        & > .suggestions__hr {
          width: 5rem;
          visibility: visible;
        }
      }

      & > .suggestions__hr {
        width: 0;
        visibility: hidden;
      }
    }

    &--portrait {
      display: none;

      @media only screen and (max-width: $bp-medium) {
        display: flex;
        margin-bottom: $content-padding;
      }

      @media only screen and (max-width: $bp-medium) {
        display: flex;
        margin-bottom: 1.5 * $content-padding;
      }
    }
  }

  &__cards {
    position: relative;
    display: flex;
    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__cards-container {
    margin-top: $content-padding;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    transition: all 1s ease-out;
    height: auto;
    width: 100%;

    @media only screen and (max-width: $bp-medium) {
      position: relative;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      margin-top: 0;
      margin-bottom: $content-padding;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &--moveLeft {
      transform: translateX(105%);

      @media only screen and (max-width: $bp-medium) {
        transform: translateX(0%);
      }
    }
    &--moveRight {
      transform: translateX(-105%);

      @media only screen and (max-width: $bp-medium) {
        transform: translateX(0%);
      }
    }
  }

  &__hr {
    width: 5rem;
    margin: 0.5rem auto 1.5rem;
    text-align: center;
    border: 1px solid $color-primary;
    transition: all 0.6s;

    &--hidden {
      width: 0rem;
      visibility: hidden;
    }

    @media only screen and (max-width: $bp-medium) {
      margin-top: 1rem;
      width: 12rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin: 1rem auto 0;
    }
  }
}

.lscape-card {
  width: 33%;
  height: 24vh;

  @media only screen and (max-width: $bp-largest) {
    height: 18vh;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 80rem;
    height: 50rem;
    flex: 0 0 auto;
  }

  @media only screen and (max-width: $bp-small) {
    width: 45rem;
    height: 33rem;
    flex: 0 0 auto;
  }

  &:not(:last-child) {
    margin-right: $content-padding;
  }

  &__sub-details {
    display: flex;
    align-items: center;

    & > .sub-paragraph:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__img {
    cursor: pointer;
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: all 0.2s;

    &:hover {
      transform: scale(1.05) translateY(-2px);
    }

    @media only screen and (max-width: $bp-small) {
      height: 70%;
    }
  }
}

.show {
  display: flex;
  padding: $content-padding;

  @media only screen and (max-width: $bp-medium) {
    padding: 2 * $content-padding;
  }
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    justify-content: center;
  }

  &__img-container {
    width: max-content;
    @media only screen and (max-width: $bp-small) {
      display: flex;
      width: 100%;
    }
  }

  &__img {
    width: 30rem;

    @media only screen and (max-width: $bp-largest) {
      width: 35rem;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 50rem;
    }

    @media only screen and (max-width: $bp-small-medium) {
      width: 40rem;
    }
    @media only screen and (max-width: $bp-small) {
      width: 70%;
      margin: 0 auto !important;
    }
  }

  &__top-line {
    display: flex;
    align-items: center;
    padding-bottom: $content-padding;

    @media only screen and (max-width: $bp-small) {
      padding: $content-padding 0;
    }
  }

  &__rating {
    margin-left: auto;
    padding-left: $content-padding;

    @media only screen and (max-width: $bp-medium) {
      padding-left: 1 * $content-padding;
    }
  }

  &__main-details {
    padding: 0 0 $content-padding $content-padding;

    @media only screen and (max-width: $bp-medium) {
      padding: 0 0 0 (2 * $content-padding);
    }

    @media only screen and (max-width: $bp-small) {
      padding: 0 0 0 $content-padding;
      // flex: 1 1 60%;
    }
  }

  &__sub-titles {
    display: flex;
    justify-content: space-evenly;
    opacity: 60%;

    @media only screen and (max-width: $bp-medium) {
      flex-wrap: wrap;

      & > .paragraph {
        font-size: 3rem;

        &:not(:last-child) {
          margin-bottom: 0.5 * $content-padding;
        }
      }
      & > .secondary-heading {
        display: none;
      }
    }
  }

  &__paragraph {
    font-size: 1.6rem;
    line-height: 3.2rem;
    display: inline-block;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.4rem;
      margin-bottom: 0.5 * $content-padding;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 3.2rem;
    }

    &--bold {
      font-weight: bold;
      display: block;

      @media only screen and (max-width: $bp-small) {
        margin-bottom: $content-padding / 2;
        // margin-top: $content-padding;
      }
    }
  }

  &__people-involved {
    display: flex;
    margin-bottom: $content-padding;
    & .show__paragraph {
      &:not(:first-child){
        margin-top: $content-padding;
      }
      
    }
  }

  &__cast {
    width: 50%;
  }

  &__creators {
    width: 50%;
    margin-left: $content-padding;
  }

  &__other-ratings {
    display: flex;
    justify-content: space-evenly;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &__other-rating {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      width: 28%;
    }
  }
}

.rating {
  margin-right: 2rem;

  &__main {
    line-height: 1;
    font-size: 3.8rem;
    font-weight: 700;

    @media only screen and (max-width: $bp-medium) {
      font-size: 6rem;
    }

    @media only screen and (max-width: $bp-small-medium) {
      font-size: 4.5rem;
    }
  }

  &__out-of {
    opacity: 60%;
    margin-left: -2px;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.6rem;
    }

    @media only screen and (max-width: $bp-small-medium) {
      font-size: 2.2rem;
    }
  }

  &__value {
    margin-bottom: 0.3rem;
    width: 6.9rem;

    @media only screen and (max-width: $bp-medium) {
      width: max-content;
    }
  }

  &__votes {
    opacity: 60%;
    text-align: center;
    line-height: 1;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2rem;
    }
  }
}

.page-title {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 $content-padding;
  text-align: center;
  position: relative;

  &__icon {
    fill: $color-white;
    height: 4rem;
    width: 4rem;
    margin: auto 0 auto 8rem;
    right: 4rem;
    transition: all 0.5s ease-out;

    cursor: pointer;

    &:hover {
      fill: $color-primary;
      transform: translateY(-2px);
    }

    &:focus {
      transform: translateY(0);
    }

    @media only screen and (max-width: $bp-medium) {
      height: 7rem;
      width: 7rem;
      margin-left: 2* $content-padding;
      // top: 6px;
    }
    @media only screen and (max-width: $bp-small-medium) {
      // top: 6px;
      height: 6rem;
      width: 6rem;
     
    }
    @media only screen and (max-width: $bp-small) {
      // top: 4px;
     
    }
  }
}

.comparison {
  &__content-container {
    padding: 0 $content-padding;
    width: 100%;
    display: flex;
    height: 100%;
  }
  &__container {
    width: 50%;
    position: relative;
    overflow-y: scroll;
    height: 100%;

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }

    &:first-child {
      margin-right: $content-padding / 2;
    }

    &:last-child {
      margin-left: $content-padding / 2;
    }
  }
}

.drop-down {
  background-color: $color-white;
  width: 100%;
  margin: 0 auto;
  padding: 0rem 2rem 0rem 2rem;
  max-height: 60vh;
  overflow-y: scroll;
  position: absolute;
  margin-top: -2.4rem;
  z-index: 100;
  transition: opacity 0.2s;

  &--hidden {
    opacity: 0%;
    visibility: hidden;
  }

  &__details {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 1rem;
    z-index: 10;

    &:hover {
      background-color: $color-grey-light-1;
    }

    &__option {
      &:last-child {
        margin-bottom: 1rem;
      }
    }
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &__option {
    &:hover {
      background-color: rgba($color-white, 0.6);
    }
  }

  &__img {
    width: 10rem;
    margin-right: 2rem;
  }

  &--hidden {
    height: 0;
    visibility: hidden;
  }
}

.comp-display {
  width: 100%;

  &__top {
    display: flex;

    &--right {
      width: 75%;
      margin: 0 $content-padding;
    }

    &--left {
      width: 25%;
    }
  }

  &__img {
    width: 100%;
  }
}

.movie-details {
  padding: 0 ($content-padding/2);
  margin: 0 ($content-padding/2);
  border-right: 0.4rem solid rgba(194, 194, 194, 0.3);
  border-left: 0.4rem solid rgba(236, 236, 236, 0.3);

  &__higher {
    border-right: 0.4rem solid rgba(191, 255, 154, 0.623);
    border-left: 0.4rem solid rgba(191, 255, 154, 0.623);
  }

  &__lower {
    border-right: 0.4rem solid rgba(255, 154, 154, 0.623);
    border-left: 0.4rem solid rgba(255, 154, 154, 0.623);
  }
}
