.container {
  display: flex;
  position: relative;

  overflow: hidden;
}

.side-bar {
  background-color: $color-bg-dark;
  height: 100vh;
  width: 11rem;
  position: fixed;
}

.main {
  width: 100vw;
  height: 100vh;
  margin-left: 11rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  display: flex;
  padding: 1.5rem $content-padding;
  width: 100%;
}


.central-content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__container {
    transition: all 0.2s ease-in;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // overflow-y: scroll;

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }
  }
}

.top-picks {
  width: 33rem;

  &__container {
    // position: fixed;
    right: 0;

    background-color: $color-bg-dark;
    height: 100vh;
    padding: $content-padding;
    overflow: scroll;

    // &::-webkit-scrollbar-track {
    //   display: none;
    // }

    // &::-webkit-scrollbar {
    //   display: none;
    // }

    // &::-webkit-scrollbar-thumb {
    //   display: none;
    // }

    // &::-webkit-scrollbar-track {
    //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    //   border-radius: 10px;
    //   background-color: $color-bg-dark;
    // }

    // &::-webkit-scrollbar {
    //   width: 12px;
    //   background-color: $color-bg-dark;
    // }

    // &::-webkit-scrollbar-thumb {
    //   border-radius: 10px;
    //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    //   background-color: #555;
    //   opacity: 0;
    // }
  }
}

.sub-content {
  background-color: $color-bg-dark;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: $content-padding;
  overflow-y: scroll;
}
