
////////////////////////////////////
// UTILITIES
////////////////////////////////////

.bottom-margin-large {
	margin-bottom: 2.4rem;
}
.bottom-margin {
	margin-bottom: 1.6rem;
}

.bottom-margin-small {
	margin-bottom: 1rem;
}
.bottom-margin-smaller {
	margin-bottom: .5rem;
}

.all-caps {
	text-transform: uppercase;
}